.hidden {
    display: none;
}

.show{
    display: block;
}

/* criar duas classe uma para cada elemento */
.titulo{
    color: blue;
    font-size: larger;
    display: flex;
    justify-content: center;
}

.texto {
    color: blueviolet;
    font-size: medium;
    display: flex;
    justify-content: center;
}